<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todoList</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="inputValue"/>
    <button @click="createTodoList">提交</button>
    <ul>
        <todo-item v-bind:content="item"
                   v-bind:index="index"
                   v-for="(item,index) in list"
                   @delete="deleteTodoList">
        </todo-item>
    </ul>
</div>
<script>
    var TodoItem = {
        props: ['content', 'index'],
        template: '<li @click="handleItemClick">{{index+1}}-{{content}}</li>',
        methods: {
            handleItemClick() {
                this.$emit('delete', this.index) //子组件向父组件传递一个事件，事件名称为delete,事件包含一个index参数，@delete为监听事件
            }
        }
    };

    var app = new Vue({
        el: "#app",
        components: {
            TodoItem: TodoItem
        },
        data: {
            list: [],
            inputValue: ''
        },
        methods: {
            createTodoList() {
                if (!this.inputValue) {
                    alert('请输入内容');
                    return;
                }
                this.list.push(this.inputValue);
                this.inputValue = '';
            },
            deleteTodoList(index) {
                console.log(index);
                this.list.splice(index, 1);
            }
        }
    })
</script>
</body>
</html>